<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <div class="blocky" id="cadastrom">
        <div style="align-content: center">
            <form th:action="@{/cadastrar}" th:object="${cadastroModel}">
                <label for="nome">Nome</label>
                <input type="text" id="nome" name="nome"/><br/>

                <label for="email">Email</label>
                <input type="text" id="email" name="email"/><br/>

                <label for="senha">Senha</label>
                <input type="text" id="senha" name="senha"/><br/>

                <button type="submit">Assino</button>
            </form>
        </div>
    </div>
</body>
</html>