<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link th:href="@{/styles/general.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="centercolumn" id="cadastrom">
        <div class="deadCenterDiv">
            <form th:action="@{/cadastrar}" th:object="${cadastroModel}" id="cadastroForm">
                <input type="text" id="nome" name="nome" placeholder="nome"/><br/>

                <input type="text" id="email" name="email" placeholder="email"/><br/>

                <input type="password" id="senha" name="senha" placeholder="senha"/><br/>

            <div id="containerCenterDiv">
                <div>
            <div id="formsender" class="a enterlayout" onClick="this.parentNode.submit();">Cadastrar</div>
            <div style="display: flex"><a class="enterlayout" th:href="@{login}">Login</a></div>
                </div>
            </div>
            </form>
        </div>
    </div>
</body>
<script th:src="@{/js/cadastroFormSender.js}">
</script>
</html>