<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Poste+${posteId}"></title>
    <link th:href="@{/styles/feed.css}" rel="stylesheet" />
    <link th:href="@{/styles/general.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/styles/feed.css">
    <script th:src="@{/js/feed.js}">

    </script>
</head>
<body th:style="'background:url('  + @{/images/background/__${backgroundImage}__} + ');'">

<div class="top">
<div class="userdata">
    <a th:href="@{perfil}"><div th:text="${username}"></div></a>
    <a th:href="logout">log out</a>
    <div class="time">
        <span id="daytime"></span><br>
        <span id="yeartime"></span>
    </div>
</div>
<div class="middle">
<h1 id="bignumber" th:text ="${posteId}"></h1>
<div th:each="post : ${listsPosts}" th:classappend="${post.isHunted} ? 'active' : 'inactive'">
    <tag th:text="${post.getDatetime()}"></tag>
    <tag> - </tag>
    <tag th:text="${post.getApelido()}"></tag>
    <tag> - </tag>
    <tag th:text="${post.getPost()}"></tag>
    <form th:action="@{/addSmell}" th:object="${newCheiro}" method="post" enctype="multipart/form-data">
        <input type="hidden" id="cheirado_id" name="cheirado_id" th:value="${post.getUserid()}"/>
        <input type="submit" value="Scheirar">
    </form>
</div>
</div>
<div class="direita">
    <div th:each="dog : ${dogGallery}">
        <img id="img" th:src="@{/images/__${dog}__}"/>
    </div>
</div>
</div>
<div class="under">
    <form th:action="@{/postar}" th:object="${newPosts}" method="post" enctype="multipart/form-data">
        <input type="text" id="post" name="post"/>
        <button type="submit">Postar</button>
    </form>
    <div class="menu">
        <form th:action="@{/lastPoste}" method="get">
            <button id="lastPoste" class="buttonLN" type="submit"> < voltar </button>
        </form>
        <form th:action="@{/jumpTo}" method="get" th:object="${postePage}">
            <input class="inputPoste"  type="number" id="posteId" name="posteId" placeholder="poste" />
        </form>
        <form th:action="@{/nextPoste}" method="get">
            <button id="nextPoste" class="buttonLN" type="submit"> seguir > </button>
        </form>
    </div>
</div>
</body>
</html>