<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Poste+${posteId}"></title>
</head>
<body>

<a th:href="@{perfil}"><div th:text="${username}"></div></a>
<a th:href="logout">log out</a>
<div th:each="post : ${listsPosts}">
    <p th:text="${post.getDatetime()}"></p>
    <p th:text="${post.getPost()}"></p>
    <form th:action="@{/addSmell}" th:object="${newCheiro}" method="post" enctype="multipart/form-data">
        <input type="submit" id="cheirado_id" name="cheirado_id" th:value="${post.getUserid()}"/>
    </form>
</div>
<div>
    <form th:action="@{/postar}" th:object="${newPosts}" method="post" enctype="multipart/form-data">
        <input type="text" id="post" name="post"/>
        <button type="submit">Postar</button>
    </form>
    <form  th:action="@{/jumpTo}" method="get" th:object="${postePage}">
        <label>pule para um outro poste</label>
        <input type="number" id="posteId" name="posteId"/>
        </form>
    <form  th:action="@{/nextPoste}" method="get">
        <button type="submit"> seguir > </button>
    </form>
    <form  th:action="@{/lastPoste}" method="get">
        <button type="submit"> < voltar </button>
    </form>
</div>
</body>
</html>