<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link th:href="@{/styles/general.css}" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="centercolumn" id="login">
  <div class="deadCenterDiv">
    <form th:action="@{/logar}" th:object="${loginModel}" id="loginmodel">

      <input type="text" id="email" name="email" placeholder="email"/><br/>

      <input type="text" id="senha" name="senha" placeholder="senha"/><br/>

      <div id="containerCenterDiv">
        <div>
      <div id="formsender" class="a enterlayout" onClick="this.parentNode.submit();">Logar</div>
      <div style="display: flex"> <a class="enterlayout" th:href="@{cadastro}">Cadastro</a></div>
        </div>
      </div>
    </form>

  </div>
  <script th:src="@{/js/loginFormSender.js}">
  </script>
</div>
</body>
</html>