<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<div class="blocky" id="login">
  <div style="align-content: center">
    <form th:action="@{/logar}" th:object="${loginModel}">

      <label for="email">Email</label>
      <input type="text" id="email" name="email"/><br/>

      <label for="senha">Senha</label>
      <input type="text" id="senha" name="senha"/><br/>

      <button type="submit">Assino</button>
    </form>
  </div>
  <a th:href="@{cadastro}">Cadastro</a>
</div>
</body>
</html>