<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<html>
    <head>
        <meta charset="UTF-8">
        <title th:text="${username}"></title>
        <link th:href="@{/styles/userPage.css}" rel="stylesheet" />
        <link th:href="@{/styles/general.css}" rel="stylesheet" />
    </head>
    <body th:style="'background:url('  + @{/images/background/__${backgroundImage}__} + ');'">

    <div style="background-color: rgba(0,0,0,.25); height: 200px; margin-top: 50px; margin-left: 30%; margin-right: 30%; position: relative">
        <img id="img" style="height: 214px; margin-top: 0px; margin-left: 23px" th:src="@{/images/__${dog}__}"/>
        <span style=" position: absolute;
    top: 118px;  /* Adjust as needed */
    right: 21px; /* Adjust as needed */
    font-size: 75px;
    font-weight: bold;
    color: black;
    font-family: PixeloidSans;
" th:text="${userPoste}">345</span>
    </div>
    <div style="background-color: grey; overflow: auto; height: 60vh; padding: 30px ;margin-left: 30%; margin-right: 30%;">

        <div style="background-color: grey">
            <div class="enderecos" style="float: right">
                <a th:href="@{/draw}">Desenhar o perfil</a><br>
                <a th:href="@{/gotoMyPoste}">Ir para meu poste</a><br>
            </div>
            <span style="font-size: 30px">user: </span><tag style="font-size: 60px; margin-top: 5px; margin-bottom: 5px;"  th:text="${username}"></tag>
            <details>
                <summary><h1 class="contenttitle">My Posts</h1></summary>
                <div style="     height: 50vh; margin-right: 30px; ">
                        <div class="content" style="display: flex">
                            <div class="contentdata data">Data</div>

                            <div class="contentdata postcontent">Conteúdo</div>

                            <div class="contentdata poste">Poste</div>
                        </div>
                    <div class="conjunto">
                        <div class="content" style="display: flex" th:each="post : ${listsPosts}">
                            <div class="contentdata data" th:text="${post.getDatetime()}"></div>

                            <div class="contentdata postcontent" th:text="${post.getPost()}"></div>

                            <div class="contentdata poste" th:text="${post.getPosteId()}"></div>
                        </div>
                    </div>
                </div>
            </details>
            <details>
                <summary><h1 class="contenttitle">Fungada Memory</h1></summary>
                <div style=" height: 50vh;">
                    <div class="direita">

                        <div class="conjunto">
                        <div class="content" id="fungada" th:each="cheiro : ${listCheiros}">

                            <span th:text="${cheiro.getDatetime()}"></span><span> - </span>
                            <span th:text="${cheiro.getCheirado_id()}"></span><span> - </span>
                            <span th:text="${cheiro.getApelido()}"></span>
                            <form th:action="@{/changeApelido}" th:object="${newCheiro}" enctype="multipart/form-data">
                                <input type="text" id="apelido" name="apelido"/>
                                <input type="hidden" id="id" name="id" th:value="${cheiro.getId()}">

                            <br><input type="submit" value="adicionar/alterar apelido">
                            </form>
                            <form th:action="@{/addSmellToSearchList}" th:object="${newCheiro}" enctype="multipart/form-data">
                                <input type="hidden" id="cheirado_id" name="cheirado_id" th:value="${cheiro.getCheirado_id()}"/>
                                <input type="submit" value="Destacar cheiro">
                            </form>
                            <p th:text="${cheiro.getIs_hunted()}"></p>
                        </div>
                    </div>
                    </div>
                </div>
            </details>
            <details>
                <summary><h1 class="contenttitle">Edit</h1></summary>
                <div style="font-size: 12px;">
                    <details>
                        <summary class="semi_a">Alterar fundo pessoal</summary>
                        <div>
                            <form  th:action="@{/changeBg}" th:object="${formModel}" method="post" enctype="multipart/form-data">
                                <input type="file" id="image" name="image" accept="image/*" class="form-control-file"/>
                                <button type="submit">Subir fundo</button>
                            </form>
                        </div>
                    </details>
                    <details>
                        <summary class="semi_a">Alterar cor do poste</summary>
                        <div>
                            <form  th:action="@{/changeColor}" th:object="${formModel}" method="post" enctype="multipart/form-data">
                                <input type="color" id="divscolor" name="divscolor" accept="divscolor/*" class="form-control-file"/>
                                <button type="submit">Alterar cor</button>

                        </div>
                    </details>
                </div>
            </details>
        </div>
    </div>
    </body>
</html>