@media(min-width: 600px) {
    .userdata{
        position: relative;
        float: right;
        height: inherit;
        width: 33%;
    }
    .middle{
        width: 33%;
    }
    .direita{
        width: 33%;
        overflow: auto;
        height: inherit;
    }
    .time{
        font-size: 25px;
        position: absolute;
        bottom: 0px;
    }
}
@media(max-width: 600px){
    a{
        font-size: 20px;
    }
    .userdata{
        top: 0px;
        position: fixed;
        width: 100%;
    }
    .middle{
        width: 100%;
    }
    .direita{
        position: absolute;
        top: 100vh;
    }
    .time{
        right: 0px;
        top: 0px;
        position: fixed;
        font-size: 20px;
    }
}
.post.active{
    background-color: lime !important;
}
.post.inactive{
    background-color: gray;
}
.postComImagem{
    height: 100px;width: 55%;
}
.post{
    margin: 5px;
    border-style: solid;
    border-width: 1px;
}
#img{
    float: inline-end;
    height: 160px;
    width: 250px;
}
.time{
    font-family: PixeloidSans;
    margin-left: 20px;
    color: white;
}
.userdata a{

}
.middle{
    font-family: monospace;
    background-color: white;
    color: black;
    overflow: auto;
    float: right;
    height: inherit;
}
.under{
    margin-top: 10px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
.menu{
    margin-top: 20px;
}
form{
    display: inline-block;
    margin: 0 10px;
}
.buttonLN{
    height: 30px;
    width: 70px;
}
.inputPoste{
    padding: 5px 10px;
    width: 50px;
}
.top{
    margin-top: 50px;
    position: static;
    height: 73vh;

}