.active{
    background-color: red;
}
.inactive{
}

#img{
    height: 200px;
    width: 320px;
}
.userdata{
    background-color: aqua;
    float: right;
    height: inherit;
    width: 30%;
}
.middle{
    overflow: auto;
    float: right;
    height: inherit;
    width: 600px;
}
.direita{
    overflow: auto;
    background-color: aqua;
    height: inherit;
}
.under{
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: red;
    text-align: center;
}
.menu{
    margin-top: 20px;
}
form{
    display: inline-block;
    margin: 0 10px;
}
.buttonLN{
    height: 30px;
    width: 70px;
}
.inputPoste{
    padding: 5px 10px;
    width: 50px;
}
.top{
    position: static;
    height: 900px;

}