#centerCol{
  background-color: #7f7f7f;
  height: 100vh;
  margin-left: 30%;
  margin-right: 30%;
}
#fungada{
    width: 300px    ;
}
.left{
    float: inline-start;
}
.username{
    font-size: 40px;
}
.contenttitle{
    margin-left: 10px;
}
.content{
    overflow: auto;
    margin-left: 30px;
}
.direita{
    float: inline-end;
}
.top{
    height: 100px;
}
.mypost{
    margin-top: 100px;
    width: 300px;
}
.conjunto{
    height: 100%;
    overflow: auto;
}
.inputBg{
    background-color: purple;
    position: relative;
    width: 300px;
    height: 300px;
    top: 50%;
    text-align: center;
    align-content: center;
}